@model Carpet.Web.ViewModels.Administration.Orders.AddItems.OrderAddItemsViewModel

@{
    ViewData["Title"] = "AddItems";
    var count = 1;
}

<h1>Добави услуга към поръчка</h1>

<h4>@Model.OrderInfo</h4>
<hr />
<div class="row">
    <div class="col-md-12">
        <form id="addItemForm" asp-action="AddItems">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input asp-for="Id" class="form-control" hidden />
            <div class="row">
                <div class="form-group col-2">
                    <label asp-for="ItemId"></label><span>*</span>
                    <select class="form-control" asp-for="ItemId" asp-items="@(List<SelectListItem>)Model.ItemList">
                        <option id="addItemOptionInForm">Избери услуга</option>
                    </select>
                    <span asp-validation-for="ItemId" class="text-danger"></span>
                </div>
                <div class="form-group col-2">
                    <label asp-for="ItemWidth" class="control-label"></label>
                    <input asp-for="ItemWidth" class="form-control" value="@Model.ItemWidth"/>
                    <span asp-validation-for="ItemWidth" class="text-danger"></span>
                </div>
                <div class="form-group col-2">
                    <label asp-for="ItemHeight" class="control-label"></label>
                    <input asp-for="ItemHeight" class="form-control" value="@Model.ItemHeight" />
                    <span asp-validation-for="ItemHeight" class="text-danger"></span>
                </div>
                <div class="form-group col-5">
                    <label asp-for="Description" class="control-label"></label>
                    <input asp-for="Description" class="form-control" value="@Model.Description" />
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>
                <div class="form-group col-1">
                    <label class="control-label" style="color:white">Save</label>
                    <input id="addItemBtn" type="submit" value="Save" class="btn btn-primary" />
                </div>
            </div>


            <div>
                <a asp-action="Index">Back to List</a>
            </div>
        </form>
    </div>
</div>
<hr />
<table id="ordersAllCreated" class="display" style="width:100%">
    <thead style="font-size:14px">
        <tr class="text-center">
            <th>#</th>
            <th>
                Услуга
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ItemWidth)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ItemHeight)
            </th>
            <th>
                Area
            </th>
            <th>
                TotalPrice
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.OrderItems)
        {
        <tr style="font-size:12px">
            <td>@(count++)</td>
            <td>
                @Html.DisplayFor(modelItem => item.Item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ItemWidth)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ItemHeight)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ItemArea)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TotalPrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = Model.Id, orderitemid = item.Id }, new { @class = "btn btn-sm btn-outline-primary", @style = "margin:1px; width:45%;" })

                @Html.ActionLink("Delete", "DeleteItem", new { id = Model.Id, orderitemid = item.Id  }, new { @class = "btn btn-sm btn-outline-danger", @style = "margin:1px; width:45%;" })
            </td>
        </tr>
        }
    </tbody>
</table>


