@using Carpet.Common.Constants
<!DOCTYPE html>
<html>
<head>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@this.ViewData["Title"] - Carpet</title>

    <environment names="Development">
        <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" asp-append-version="true" />
        <link href="~/css/site.css" rel="stylesheet" asp-append-version="true" />
    </environment>
    <environment names="Staging,Production">
        <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" asp-append-version="true" />
        <link href="~/css/site.min.css" rel="stylesheet" asp-append-version="true" />
    </environment>

</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <h1 class="logo">
                    <a asp-area="Administration" asp-controller="Dashboard" asp-action="Index"><span class="highlight"><img src="~/images/logo.png" style="height:100%;"></span></a>
                </h1><!--//logo-->
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <partial name="_LoginPartial" />
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark"
                               asp-area="@GlobalConstants.AreaAdministrationName"
                               asp-controller="@GlobalConstants.ContollerCustomersName"
                               asp-action="@GlobalConstants.ActionIndexName">Клиенти</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Обработка на поръчки</a>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" href="#">Подготовка за вземане</a>
                                <a class="dropdown-item" href="#">Обработка след вземане</a>
                                <a class="dropdown-item" href="#">В процес на изпиране</a>
                                <a class="dropdown-item" href="#">Подготвка за връщане</a>
                                <a class="dropdown-item" href="#">Обработка след доставка</a>
                                <a class="dropdown-item" href="#">Чакащи вземане от офис</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="#">Separated link</a>
                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Справки</a>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" href="#">Справка 1</a>
                                <a class="dropdown-item" href="#">Справка 2</a>
                                <a class="dropdown-item" href="#">Справка 3</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="#">Изтрити поръчки</a>
                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Настройки</a>
                            <div class="dropdown-menu">
                                <a class="dropdown-item"
                                   asp-area="@GlobalConstants.AreaAdministrationName"
                                   asp-controller="@GlobalConstants.ContollerVehiclesName"
                                   asp-action="@GlobalConstants.ActionIndexName">Автомобили</a>
                                <a class="dropdown-item"
                                   asp-area="@GlobalConstants.AreaAdministrationName"
                                   asp-controller="@GlobalConstants.ContollerItemsName"
                                   asp-action="@GlobalConstants.ActionIndexName">Продукти и Цени</a>
                                <a class="dropdown-item"
                                   asp-area="@GlobalConstants.AreaAdministrationName"
                                   asp-controller="@GlobalConstants.ContollerEmployeesName"
                                   asp-action="@GlobalConstants.ActionIndexName">Управление на служители</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="#">Separated link</a>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <div class="container">
        <partial name="_CookieConsentPartial" />
        <main role="main" class="pb-3">
            @this.RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; @DateTime.Now.Year - Carpet -
            <a asp-area="@string.Empty"
               asp-controller="@GlobalConstants.ContollerHomeName"
               asp-action="Privacy">Privacy</a>
        </div>
    </footer>

    <environment names="Development">
        <script src="~/lib/jquery/dist/jquery.js" asp-append-version="true"></script>
        <script src="~/lib/jquery-validation/dist/jquery.validate.js" asp-append-version="true"></script>
        <script src="~/lib/jquery-validation-unobtrusive/dist/jquery.validate.unobtrusive.js" asp-append-version="true"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js" asp-append-version="true"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>
    <environment names="Staging,Production">
        <script src="~/lib/jquery/dist/jquery.min.js" asp-append-version="true"></script>
        <script src="~/lib/jquery-validation/dist/jquery.validate.min.js" asp-append-version="true"></script>
        <script src="~/lib/jquery-validation-unobtrusive/dist/jquery.validate.unobtrusive.js" asp-append-version="true"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.min.js" asp-append-version="true"></script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>

    <link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css" asp-append-version="true" />
    <script type="text/javascript" src="//cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js" asp-append-version="true"></script>


    <script type="text/javascript" asp-append-version="true">

        $.fn.dataTable.ext.search.push(
            function (settings, data, dataIndex) {
                var min = new Date($('#min').val());
                var max = new Date($('#max').val());
                var date = new Date(data[5]) || 0; // use data for the date column

                if ((isNaN(min) && isNaN(max)) ||
                    (isNaN(min) && date <= max) ||
                    (min <= date && isNaN(max)) ||
                    (min <= date && date <= max)) {
                    return true;
                }
                return false;
            }
        );

        $(document).ready(function () {
            jQuery('#myTable').DataTable();

            var ordersStatement = $('#example').DataTable({
                "order": [[0, "asc"]]
            });

            // Event listener to the two range filtering inputs to redraw on input
            $('#min, #max').keyup(function () {
                ordersStatement.draw();
            });

            $('#items').DataTable({
                "order": [[0, "asc"]]
            });


            $('#customers').DataTable({
                "order": [[5, "desc"]]
            });

            let selectorInput = $('#example_filter').children(2).children(0);
            selectorInput.change(function () {
                console.log($(this).val());
            });




        });


    </script>

    @this.RenderSection("Scripts", required: false)
</body>
</html>
