@using Carpet.Common.Constants
@model Carpet.Web.Areas.Administration.ViewModels.Dashboard.IndexViewModel
@{
    this.ViewData["Title"] = "Admin dashboard";
    Random rnd = new Random();
}

<h1 class="title text-center" style="margin-top: 35px;">ДОБАВЯНЕ НА АРТИКУЛ КЪМ ПОРЪЧКА</h1>
<h5 id="orderNumber" class="text-center">
    <span>от дата</span>
    <span>01.01.2019</span>
    <span>0888000111</span>
    <span>гр. София, кв. Иван Вазов, бул./ул. Улица незнайна, № 4, вх. А</span>
</h5>




<div class="d-flex flex-row justify-content-end" style="width:101%; margin-top: 35px;">

    <a class="btn btn-primary"
       asp-area="@GlobalConstants.AreaAdministrationName"
       asp-controller="@GlobalConstants.ContollerCustomersName"
       asp-action="@GlobalConstants.ActionCreateName">Добави клинет</a>



</div>

<p class="intro text-center" style="margin-top: 10px;"></p>

<div class="row">

    <table id="example" class="display" style="width:100%">
        <thead>
            <tr class="text-center">
                <th>#</th>
                <th>Телефон</th>
                <th>Име</th>
                <th>Адрес</th>
                <th>Бр. артикули</th>
                <th>Дата на поръчване</th>
                <th>Стойност</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            @for (int i = 0; i < 102; i++)
            {
                <tr>
                    <td>@(i + 1)</td>
                    <td class="text-center">0888000@(rnd.Next(100, 999))</td>
                    <td>System Architect</td>
                    <td>гр. София, бул. Христо Смирненски 56, бл. 5, вх. 5</td>
                    <td>61</td>
                    <td class="text-center">2011/04/25</td>
                    <td>@(rnd.Next(1, 100)).@(rnd.Next(1, 99))</td>
                    <td class="justify-content-around">
                        <div>
                            <a asp-area="@GlobalConstants.AreaAdministrationName" 
                               asp-controller="@GlobalConstants.ContollerCustomersName" 
                               asp-action="@GlobalConstants.ActionEditName" 
                               asp-route-id="@(Model)" 
                               class="btn btn-sm btn-outline-success" tabindex="0" aria-controls="example">Edit</a>
                        </div>
                        <div>
                            <a asp-area="@GlobalConstants.AreaAdministrationName" 
                               asp-controller="@GlobalConstants.ContollerCustomersName" 
                               asp-action="@GlobalConstants.ActionEditName" 
                               asp-route-id="@(Model)" 
                               class="btn btn-sm btn-outline-danger" tabindex="0" aria-controls="example">
                                Delete
                            </a>
                        </div>

                    </td>
                </tr>
            }

        </tbody>

        <tfoot>
            <tr>
                <th>#</th>
                <th>Name</th>
                <th>Position</th>
                <th>Office</th>
                <th>Age</th>
                <th>Start date</th>
                <th>Salary</th>
                <th>Action</th>
            </tr>
        </tfoot>
    </table>
</div>

<p class="intro text-center" style="margin-top: 85px;"></p>

